---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('thoughts')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>

<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<body class="min-h-screen">
		<Header />

		<main class="container max-w-5xl my-24">
			<hgroup>
				<h1 class="text-[#b4befe] mb-6 font-bold tracking-tighter italic text-5xl">Our Thoughts</h1>
				<p class="text-2xl italic text-[#b4befe]">Collection of our ideas, thoughts, articles and writings.</p>
			</hgroup>

			<section class="mt-20">
				<ul class="flex flex-col gap-6">
					{
						posts.map((post) => (
							<li>
								<a href={`/thoughts/${post.slug}/`}>
									<h4 class="title underline">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
